html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
  font: menu;
}


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
}

.enemy {
  display: block;
  position: absolute;
}

.options {
  padding: 0 10px 10px 10px;
  position: relative;
  top: -15px;
}

.options_form .pos {
  width: 50px;
}

.options_form section {
  padding: 5px;
  border: 1px solid grey;
}

.options_form h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 2px 5px;
  display: inline-block;
  position: relative;
  bottom: -10px;
  left: 5px;
  background-color: white;
}

.options_form label {
  display: block;
  margin: 10px 0;
}

select {
  font-family: Menu;
}

input[type=range] {
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
}

.saved_result {
  color: green;
  display: block;
  text-align: center;
}

.buttons {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}

.buttons button {
  width: 80px;
}
